@import url('https://fonts.googleapis.com/css2?family=Athiti&family=Merienda+One&display=swap');

$vert-titre:rgb(84,129,87);
$blanc: white;
$gris-clair: #F0F0F0;
$vert-fonce: rgb(84,129,87);
$noir: black;
$color-user: rgb(84,129,87);
$color-admin: 	#696969;

$athiti: 'Athiti', sans-serif;
$Merianda: 'Merienda One', cursive;


$text-nav: 25px;
$text-h1: 40px;

$breakpoints: (
        tablette: 690px,
        desktop: 980px
);

@mixin tablette {
  @media screen and (min-width: map-get($breakpoints, tablette)) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    
    @content;
  }
}