

$breakpoints: (
    mobile: 780px,
    desktop: 980px
);

@mixin mobile {
    @media screen and (min-width: map-get($breakpoints, mobile)){
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        max-width: 1400px;
    @content;
    }
}