@import "../Variable.scss";


form {
  background-color: $gris-clair;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px auto;
  border-radius: 15px;

  fieldset {
    border-radius: 0.5em;
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 2px solid $vert-fonce;
    padding: 20px;
    margin: 10px;

    legend {
      margin: 0 auto;
      color: $vert-fonce;
    }

    label {
      color: $vert-fonce;
      margin: 0 auto;
    }

    input {
      width: 90%;
      margin: 0 auto;
    }

    button {
      width: 70%;
      padding: 8px;
      margin: 5px auto;
      font-weight: bold;
      background-color: $vert-fonce;
      border-radius: 15px;
      border: 1px solid transparent;
      overflow: hidden;
      color: $blanc;

      &:hover {
        background-color: $blanc;
        color: $vert-fonce;
      }
    }
  }
}

.section-article {

  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;

  article {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid $vert-fonce;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    h2 {
      text-align: center;
      font-family: 'Merienda One', cursive;
      margin:20px;
    }

    .image-article-container {
      width: 100%;
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    p {
      text-align: justify;
      overflow: hidden;
    }
    button {
      width: 70%;
      padding: 8px;
      margin: 5px auto;
      font-weight: bold;
      background-color: $vert-fonce;
      border-radius: 15px;
      border: 1px solid transparent;
      overflow: hidden;
      color: $blanc;

      &:hover {
        background-color: $blanc;
        color: $vert-fonce;
        border:1px solid $vert-fonce;
      }
    }
  }
}
.no-article{
  text-align: center !important;
}