@import "../Variable.scss";

footer {
  
  margin: 15px 0 0 0;

  background-color: $vert-fonce;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: $blanc;
    font-weight: bold;
    text-align: center;
  }
}