@import "../Variable.scss";

main {
  @include tablette {
    width: 90%;
    margin: 0 auto;
  }
  @include desktop {
    width: 80%;
  }
}

.galerie-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px auto;
  @include tablette {
    margin: 5px;
    padding: 20px;
    border: 3px solid $vert-fonce;
    border-radius: 10px;
  }

  .image-container {
    position: relative;

    width: 90%;

    @include tablette {
      width: 45%;
      &:hover{
        transform:scale(1.15);
        z-index:10;
      }

    }
    @include desktop {
      width: 28%;
    }

    img {
      object-fit: contain;
      width: 100%;

    }

    a {
      padding: 0;
      margin: 0;

    }

    button {
      position: absolute;
      bottom: 0;
      left: 0;
      border: 10px;
      border-radius: 0;
      padding: 5px;
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: $text-nav;


      &:hover {
        color: $blanc;
        background-color: $vert-fonce;

      }
    }
  }
}

form {
  background-color: $vert-clair;
  display: flex;
  justify-content: center;
  width: 80%;

  border-radius: 15px;

  fieldset {
    border-radius: 0.5em;
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 2px solid $vert-fonce;
    padding: 20px;
    margin: 20px;

    legend {
      margin: 0 auto;
      color: $vert-fonce;
      font-weight: bold;
    }


    input {
      margin: 0 auto;
    }

    button {
      width: 50%;
      padding: 8px;
      margin: 5px auto;
      font-weight: bold;
      background-color: $vert-fonce;
      border-radius: 15px;
      border: 1px solid transparent;
      overflow: hidden;
      color: $blanc;

      &:hover {
        background-color: $blanc;
        color: $vert-fonce;
      }
    }
  }
}