@import "../Variable.scss";

* {
  transition: all 1s;
  font-family: $athiti;
}


header {
  margin: 0;
  background: url("../images/banner.jpg") center center;
  background-size: cover;

  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  @include tablette {
    height: 150px;
  }


  h1 {

    font-family: $Merianda;
    color: $vert-titre;
    text-shadow: 1px 1px 0 black;
    padding: 5px;
    font-size: 20px;
    @include tablette {
      margin: auto auto;
      font-size: $text-h1;
    }
  }
}

/* ---------------- Navbar and burger menu ------------------ */


.burger-menu {
  position: absolute;
  top: 13%;
  left: 15px;
  height: 50px;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  @include tablette {
    top: 35%
  }
  @include desktop {
    display: none;
  }
}

.burger-bar {
  width: 3em;
  height: 0.4em;
  background-color: $vert-fonce;
  border-radius: 0.5em;
}

.menu {
  position: sticky;
  top: 100px;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablette {
    flex-direction: row;
    justify-content: center;

  }


}

.nav-header {
  background-color: $vert-clair;
  position: sticky;
  top:0;
  z-index:3;

}

.lien {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $vert-clair;
  @include desktop {
    flex-direction: row;

  }

  a {
    text-decoration: none;
    color: $vert-fonce;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: $text-nav;
    @include desktop {
    padding:0  20px;

    }

    &:hover {
      color: $vert-clair;
      background-color: $vert-fonce;

    }
  }
}

/* ------------- sliding menu ------------------ */

/* ----- animations--------- */
/* clicked */
.hidden {
  display: none;
  @include desktop {
    display: flex;
  }
}

.visible {
  display: flex;
}

.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(1em, 1em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.9em, 1em);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

