@import "../Variable.scss";

.message-container {

  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  @include tablette {
    width: 90%;
  }
  @include desktop {
    width: 80%;
  }

  .message-user-wrapper {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: 3px solid $vert-fonce;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    align-items: center;

    .image-message-container {
      width: 70%;
      height: 300px;
      margin: 0 auto;
      border-radius: 5px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    p {
      text-align: justify;
      overflow: hidden;
      padding-bottom:10px;

    }
    

    button {
      width: 70%;
      padding: 8px;
      margin: 5px auto;
      font-weight: bold;
      background-color: $vert-fonce;
      border-radius: 15px;
      border: 1px solid transparent;
      overflow: hidden;
      color: $blanc;

      &:hover {
        background-color: $blanc;
        color: $vert-fonce;
        border: 1px solid $vert-fonce;
      }
    }
  }
}